<html>
<head>
    <title>
        {% block title %} {% endblock %}

    </title>


    <body>
        
        {%include "barra navegacion/barra.html"%}


        {% block content %} {% endblock %}

        <p>
            <font color=darkgreen size=-1>

                {{gatos.2}} 102-A<br>
                Santo Domingo, Rep&uacute;blica Dominicana<br>
                (809)685-211 - fax (809)685-2117<br>
                correo-e: instraw.hq.sd@codetel.net.do<br>
                fecha actual : {{dia}}
                </font>
        </p>
    </body>




</head>




</html>