<html>

<head>
<title>
Pruebas Django
</title>
</head>

<body bgcolor=navy text=white>

<h1 align=center>
<font color=yellow> Instituto Internacional de Investigaciones y Capacitaci&oacute;n para la Promoci&oacute;n de la Mujer<br>
- INSTRAW -
</font>
</h1>

<hr>
<p>

    {%if nombrePersona == gatos.0%}<!--se compara el nombre de la persona creada en views con la posicion 0 de la lista gatos si cumple  muetra este codigo si no muetra afuera-->
        Dentro de la compacion
    {%else%}
        Afuera de la comparacion
    {%endif%}

</p>
<p align=center>
Bienvenidos a nuestras oficinas virtuales, donde esperamos brindarles un mejor servicio y una v&iacute;a directa alternativa de comunicaci&oacute;n e informacion de apoyo para la <i>potenciaci&oacute;n de la mujer</i>.
<hr>
<h4>
C&oacute;mo contactarnos
</h4>
<p align=right>
<p>

    <ul>
    {% if  gatos%}  <!--se crea un condicional if hay que tener muy muy precente su estructura ya que hay que finalizarlo-->
        {%for imprimir in gatos%}   <!--se crea un ciclo for hay que tener muy muy precente su estructura ya que hay que finalizarlo-->
            <li>{{imprimir}}</li>
        {% endfor %}<!--se finaliza ciclo for hay que tener muy muy precente su estructura ya que hay que finalizarlo-->
    {%else%}
        <p>NO HAY NADA PARA MOSTRAR</p>
    {%endif%} <!--se finaliza un condicional if hay que tener muy muy precente su estructura ya que hay que finalizarlo-->
    
    </ul>

</p>
<font color=lime size=-1>
{{nombrePersona}} 102-A<br>
Santo Domingo, Rep&uacute;blica Dominicana<br>
(809)685-211 - fax (809)685-2117<br>
correo-e: instraw.hq.sd@codetel.net.do<br>
fecha actual : {{dia}}
</font>
</body>
</html>