<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel=stylesheet href="{% static 'style.css' %}">
    <script
    src="https://kit.fontawesome.com/7e5b2d153f.js"
    crossorigin="anonymous"
  ></script>
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- barra navegacion ----------------------------------------------- -->
    <nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #000;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/inicio/"><img src="{% static 'logo.jpg' %}" alt="" width="140" height="140"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/inicio/' %}active{% endif %}" aria-current="page" href="/inicio/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/servicios/' %}active{% endif %}" href="/servicios/">Servicios</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if request.path == '/tienda/dama/' or request.path == '/tienda/caballero/' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tienda
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/tienda/dama/">Dama</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/tienda/caballero/">Caballero</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="niño.html">Niños</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Contacto</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar produtos..." aria-label="Buscar produtos...">
            <button class="Toggle" type="submit"> <i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </nav>
    

<!---contendo cambiante-->
{%  block content %}

{% endblock %}




 <!-- footer ---------------------------------------------------------------     -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/bothhisfabrica" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>     
            <!-- whastapp -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/message/V2UCKSR4DQIJH1" role="button"
              ><i class="fab fa-whatsapp"></i>
            </a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/both_his/" role="button"
              ><i class="fab fa-instagram"></i
              ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 both-his:
          <a class="text-white" href="#">both+his.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>     